---
layout: default
---

<a href="{{ '/blog' | relative_url }}" class="back-link">&#8592; back to blog</a>

<div class="post-header">
  <div class="post-meta-date">{{ page.date | date: "%B %d, %Y" }}</div>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-author">by {{ page.author | default: site.author }}</div>
</div>

<div class="post-body">
  {{ content }}
</div>

{% if page.tags %}
<div class="post-tags">
  <span>tags:</span>
  {% for tag in page.tags %}
    <span class="post-tag">{{ tag }}</span>
  {% endfor %}
</div>
{% endif %}
